[submodule "Electromagnetism-Fluids-and-Waves"]
	path = Electromagnetism-Fluids-and-Waves
	url = https://github.com/UCLNatSci/Electromagnetism-Fluids-and-Waves/tree/aa378f9cbe6287f08970fa13b48aa9983ebc879f
